/* Modo Claro */
body {
  background: #f2f2f2;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.container {
  background: white;
  padding: 30px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Modo Escuro */
body.dark-mode {
  background: #333;
}

.container.dark-mode {
  background: #444;
  color: white;
}

input[type="number"], button {
  padding: 10px;
  width: 80%;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

#message {
  font-weight: bold;
  margin-top: 10px;
}
